html, body {
	padding: 0px;
	margin: 0px;
	border: 0px;
	width: 100%;
	height: 100%;
	font-size: 1em;
	font-family: '맑은 고딕',Helvetica,sans-serif;
	overflow: hidden;
}
.sound_content{
	position: absolute;	
}
.image_content{
	border-radius:5% 5% 5% 5%;
	position: absolute;
}
.image_content img{
	width:100%;
	height:100%;
	border-radius:5% 5% 5% 5%;
}
a:link {
	color: #9a9e72;
	text-decoration: none;
}/* unvisited link */
a:visited {
	color: #9a9e72;
}/* visited link */
a:hover {
	color: #BDB76B;
}/* mouse over link */
a:active {
	color: #0f4e3a;
}/* selected link */
.title_container{
	width:100%;
	height:100%;
	position:fixed;
	left:0px;
	top:0px;
	background-color: rgba(19, 19, 14, 0.82);
	z-index: 10000;
}
.door_container{
	width: 90%;
	height: 90%;
	position: relative;
	top: 5%;
	left: 5%;
	background-color: transparent;
}
.door{
	position: absolute;
	width: 100%;
	height: 73%;
	background-image: url("/images/door.png");
	background-size: 100% 100%;
	z-index: 100000;
}
.door_title{
	position: inherit;
	width: 70%;
	height: 25%;
	left: 14%;
	top: 55%;
	color: #ccbb86;
	text-shadow: 1px 1px 2px #888888;
	background-color: transparent;
	font-size: 250%;
	text-align: center;
	overflow:auto;
}
.door_date{
	position: inherit;
	width: 21%;
	height: 5%;
	left: 40%;
	top: 82%;
	color: #ccbb86;
	text-align: center;
	font-size: 50%;
	background-color: transparent;
}
.list_button{
	position: absolute;
	width: 20%;
	height: 8%;
	top: 90%;
	left: 75%;
	background-image: url("/images/list_up.png");
	background-size: 100% 100%;
}
.list_button2{
	position: absolute;
	width: 20%;
	height: 8%;
	top: 90%;
	left: 75%;
	background-image: url("/images/list_down.png");
	background-size: 100% 100%;
}
.door_underbar{
	position: absolute;
	width: 100%;
	height: 30%;
	top: 70%; /*접었을때 47% 폈을때 70%*/
	background-image: url("/images/underbar.png");
	background-size: 100% 100%;
}

/*scroll start~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.under_scroll_container{
	position:relative;
	width:88%;
	height:67%;
	background-color:transparent;
	left: 6%;
	top: 18%;
}
.under_scroll_left{
	float: left;
	width: 10%;
	height: 100%;
	background-color:transparent;
	background-image: url("/images/left.png");
	background-repeat:no-repeat;
	background-position:center center;
	background-size: 35% 20%;
}
.under_list_container{
	float: left;
	width: 80%;
	height: 100%;
	overflow: scroll;
	overflow-y:hidden;
}
.under_list_box{
	position: relative;
	width: 500px;
	height: 60%;
}
.under_list{
	float: left;
	width:18%;
	height:100%;
	margin-top:3%;
}
.under_list_image{
	float: left;
	width: 30%;
	height: 80%;
	margin-top: 4%;
	margin-left: 6%;
}
.under_list_name{
	float: right;
	width: 45%;
	height: 40%;
	margin-right: 5%;
	margin-top: 15%;
	color: #ccbb86;	
	font-weight: bold;
	font-size: 60%;
	overflow:hidden;
}
.under_scroll_right{
	float: right;
	width: 10%;
	height: 100%;
	background-image: url("/images/right.png");
	background-repeat:no-repeat;
	background-position:center center;
	background-size: 35% 20%;
}

h5 {
	display: block;
	font-size: 0.1em;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
}
.Container {
	width:100%;
	height:100%;
	background-image: url("/images/main_background.png");	
}
.default{
	background-color: white;
	width: 30px;
	height: 30px;	
}
.Container .paper_outer{	
	display: block;
	position: relative;
	
}
.content_container {
	display: inline-block;
	position: absolute;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
	background-image: url("/images/web_paper.png");
}
.icon_door{
	position: absolute;
	float: left;
	width: 11%;
	height: 18%;
	top: 1%;
	left: 1%;
	background-image: url("/images/pop-up.png");
	background-size: 100% 100%;
	max-height: 50px;
	max-width: 50px;
	z-index: 1000;
}
.icon_door2{
	position: absolute;
	float: left;
	width: 11%;
	height: 18%;
	top: 1%;
	left: 1%;
	background-image: url("/images/pop-up2.png");
	background-position: center center;
	background-size: 100% 100%;
	max-height: 50px;
	max-width: 50px;
	z-index: 1000;	
}
	