<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="/css/paper.css">
		<script type="text/javascript" src="http://connect.facebook.net/en_US/all.js"></script>
		<script>
			function initFacebook()
			{
				FB.init({ appId: '333864290041286', status: false, cookie: true, xfbml: true ,oauth:true});
				FB.getLoginStatus(function(response) {
					console.log(response);
					if (response.status == 'unknown') {
						FB.login(function(response){
							if (response.authResponse) {
						    	console.log(response);
						    } else {
						    
						    }
						});
					}
				});
			}	
		</script>
	</head>
	<body>
	</body>
</html>
